<div class = "about">
 <body class = "main-container2">
  <div class = "row">
   <div class="col-8 ml-auto">
    <div class = "row about justify-content-center, text-nowrap">
     <h3>About</h3><br>
          NAGANO CAKEは全国発注可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発注可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
    </div>
   </div>
  </div>
 </body>
</div>