<div class="container">
  <div id="about-img">

    <div class="inner cover about-contents">
      <h1 class="cover-heading">About</h1>
      <p class="lead">
        ながのCakeは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文下さい。
      </p>
      <img class="about-img"><%= image_tag "makaron.jpg", :size =>'1100x700' %></img>
    </div>
  </div>
</div>
